@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
    --font-family: "Lobster", sans-serif;
    --grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

body {
    background:#f1faee;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1d3557;
    padding: 10px 30px;
    text-align: center;
    font-family: "Inter", sans-serif;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #457b9d;
    font-family: var(--font-family);

}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 500;
}

nav ul li a {
    display: flex;
    padding: 15px;
    text-decoration: none;
    color: #457b9d;
    font-weight: medium;
    text-transform: none;
    margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
nav ul li a:hover {
    color: #1d3557;
}

nav.stroke ul li a {
    position: relative;
}
nav.stroke ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #1d3557;
    height: 2px;
}
nav.stroke ul li a:hover:after {
    width: 100%;
}

